
{%extends 'Lallog/base.html'%}

{%block title%} Авторизация {%endblock%}

{%block content%}

{% if messages%}

{% for message in messages%}
<div class="alert alert-{{message.tags}}">
{{message}}

</div>
{%endfor%}
{%endif%}

<div class="container">
<form method="post" action="{% url 'user_login' %}">
{% csrf_token %}
<div class="name">
<input class="log_text" type="text" name="username">
</div>
<div class="password">
<input class="log_text" type="password" name="password">
</div>
<button class="log_in" type="submit">Авторизация</button>
</form>
</div>

{%endblock content%}