
{%extends 'users/base.html'%}
{%load static%}
{%block title%} Личный кабинет {%endblock%}

{%block content%}

<br>
</br>
<nav class="raschet_kur" >
<ul >
    <li><a href="{% url 'private_success' day='today'%}">Сегодня</a></li>
    <li><a href="{% url 'private_success' day='yesterday'%}">Вчера</a></li>
    <li ><a href="{% url 'private_success' day='all'%}">Все заказы</a></li>
   
    <li><a href="#">Другие дни</a>
    <ul>
    {%for i in alldays%}
    <li ><a href="{% url 'private_success' day=i%}">{{i}}</a></li>
    {%endfor%}    
    </ul>
    </li>
    
</ul>
</nav>
    <div class="lichka_prav">
        <caption>Список Выполненных Заказов</caption>
        <table  border="1" id="table_private">

            <tr >
                <th>Компания</th>
                <th>Откуда</th>
                <th>Контакты</th>
                <th>Комментарий</th>
                <th>Куда</th>
                <th>Контакты</th>
                <th>Комментарий</th>
                <th>Вес</th>
                <th>Доставить</th>
                <th>До</th>
                <th>Доставка</th>
                <th>Принято</th>
                <th>Выплата</th>
                <th>Статус</th>
                <th>Курьер</th>
               
            </tr>
            {%for i in orders_completed%}
            <tr>
                <td data-label="Компания">{{i.client}}</td>
                <td data-label="Откуда">{{i.from_address}}</td>
                <td data-label="Контакты">{{i.from_phone}}</td>
                 <td data-label="Комментарий">{{i.from_comment}}</td>
                <td data-label="Куда">{{i.to}}</td>
                <td data-label="Контакты">{{i.to_phone}}</td>
                <td data-label="Комментарий">{{i.to_comment}}</td>
                <td data-label="Вес">{{i.ves}}кг</td>
                <td data-label="Доставить">{{i.to_date}}</td>
                <td data-label="Ограничения">{{i.to_date_until}}</td>
                <td data-label="Доставка">{{i.itog}}</td>
                <td data-label="Принято ">{{i.nal}}</td>
                <td data-label="К выплате">{{i.raschet}}</td>
                <td data-label="Статус">{{i.status}}</td>
                <td data-label="Курьер">{{i.curier.user}}</td>
                
               
                
              

            </tr>
            {%endfor%}
        </table>

    </div>



{%endblock content%}